<div class="row">
  <div class="col-auto">
    <h2 class="header-text">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="header-3-text">Create a New Drug Interaction:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name" class="field-text">1st Drug to Search:</label>
        <input
          class="form-input"
          type="text"
          id="project-name"
          name="project-name"
        />
      </div>
      <div class="form-group">
        <label for="project-funding" class="field-text">2nd Drug to Search:</label>
        <input
          class="form-input"
          type="text"
          id="project-funding"
          name="project-funding"
        />
      </div>
      <div class="form-group">
        <button type="submit" id="search-drug" class="btn btn-primary button-text">Show My Interactions</button>
      </div>
    </form>
  </div>
  <div id="output" class="header-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt quos molestias omnis cupiditate doloremque consequatur! Tempore saepe maiores alias necessitatibus, modi veniam dolore culpa. Inventore error necessitatibus maxime voluptate?</p>
  </div>
  </div>
  {{#if projects.length}}
    <div class="col-md-6 project-list">
      <h3 class="header-text">Current Drug Interactions:</h3>

      {{#each projects as |project|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{project.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

{{! <script src="./js/dashboard.js"></script> }}
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script src="script.js"></script>