    <!-- nav from bootstrap -->
    <nav class="navbar navbar-light bg-light big-nav">
      <form class="container-fluid justify-content-start">
        <!-- Dropdown button that will display other options -->
        <button class="btn btn-outline-success me-2" type="button">Menu</button>
        <!-- Button that will take you to your account that contains saved searches -->
        <div>
          <button class="btn btn-sm btn-outline-secondary" type="button">
            My account
          </button>
          <!-- Button that will allow you to log out -->
          <button class="btn btn-sm btn-outline-secondary" type="button">
            Logout
          </button>
        </div>
      </form>
    </nav>
    <!-- nav ends here -->

    <!-- search field for drugs -->
    <!-- First drug search  -->
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Drug 1:</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
      />
    </div>
    <!-- Second drug search -->
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Drug 2:</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
      />
    </div>

    <button type="button" class="btn btn-info">Find</button>
    <!-- Search ends here -->

    <!-- Current working search field -->
    <div>
      <input type="text" id="drug-search" placeholder="Enter a drug here" />
      <input
        type="text"
        id="drug-search2"
        placeholder="Enter another drug to search for here"
      />
      <button id="drug-name">Click here to search for your drug</button>
      <!-- Search field ends here -->

      <!-- Output to display drug relationship -->
      <div class="output">
        This is where the output for search results will go
      </div>