{{! This is just practice space for handlbars}}

<h1> HELLO Login PAGE</h1>
{{! <!-- Login space --> }}
<!-- Email -->
<form class="login-form">
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="email-field">Email:</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>
  <!-- Password -->
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="password-field">Password:</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>

  <button type="submit" class="btn btn-info" id="login-button">Login</button>
</form>
<!-- Login ends here -->

<!-- Create Account space -->

<form class="signup-form">
  <!-- Name -->
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="new-name">Name:</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>
  <!-- Email -->
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="new-email">Email:</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>
  <!-- Password -->
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="new-password">Password:</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>

  <button type="submit" class="btn btn-info" id="login-button">Create Login</button>
</form>
<!-- Create Account ends here -->
{{! <script src="../public/js/login.js"></script> }}
<script src="./js/login.js"></script>